@{
    var today = DateTime.Now.ToString("dddd, MMM dd yyyy");
    var time = DateTime.Now.ToString("hh:mm tt");
    TimeZoneInfo zone = TimeZoneInfo.Local;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - East Advising</title>

    <environment include="Development">
        <link href="~/css/_LayoutStylesSheet.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!--Maybe delete when published
                        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        -->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link href="~/css/_LayoutStylesSheet.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </environment>
</head>
<body>
    <!--HEADER-->
    <div class="header_grid">
        <div class="header_left">
            <img src="~/images/weber_header_logo_with_color.png" />
        </div>

        <div class="header_middle">
            <div>
                <h1 class="heading_text">ADVISING</h1>
            </div>
            <div>
                <h3 class="subheading_text">Computer Science & Computer Engineering <i class="fas fa-laptop fa-lg"></i></h3>
            </div>
        </div>

        <div class="header_right">
            <br /><br /><br /><br />
            <div>
                <h4 class="text"><i class="far fa-clock"></i> @time</h4>
            </div>
            <div class="text">
                <h5 class="text"><i class="far fa-calendar-alt"></i> @today</h5>
            </div>
        </div>

        <div class="header_bottom">

        </div>
    </div>


    <partial name="_CookieConsentPartial" />



    <div class="container body-content">
        @RenderBody()


    </div>
    <footer class="grid_footer">
        <div class="footer_header1">
            <h3 class="heading_text">About Us</h3>

        </div>

        <div class="footer_left">
            <table class="text">
                <tr>
                    <th class="small_subheading_text">Working hours</th>
                </tr>

                <tr>
                    <td>Monday</td>
                    <td>8:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>8:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>8:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>8:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>8:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                </tr>

            </table>
        </div>

        <div class="footer_middle">

            <div>
                <table class="text">
                    <tr>
                        <th class="small_subheading_text"><i class="fas fa-map-marker-alt"></i> Office Location</th>
                    </tr>
                    <tr>
                        <td>1465 Edvalson Street</td>
                    </tr>
                    <tr>
                        <td>Ogden, Utah</td>

                    </tr>
                    <tr>
                        <td>Technical Education Building</td>

                    </tr>
                    <tr>
                        <td>Room 110</td>
                    </tr>

                </table>

            </div>
        </div>
        <div class="footer_right">
            <div>
                <table class="text">
                    <tr>
                        <th class="small_subheading_text">Advisor</th>
                    </tr>

                    <tr>
                        <td><i class="fas fa-signature"></i> </td>
                        <td>Ranee Dearden</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-mobile-alt"></i></td>
                        <td>801-626-7929</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-envelope"></i></td>
                        <td>raneedearden@weber.edu</td>
                    </tr>
                </table>
            </div>
        </div>
    </footer>
    <hr />
    
    <p class="text copyright">
        &copy; 2019 - Weber State University
    </p>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
