@model EastAdvising.Models.ViewModels.AppointmentViewModels
@using EastAdvising.Extensions
<br /> <br />
<div class="row">

    
        <form method="post" asp-action="AppointmentDetails2" enctype="multipart/form-data">
            <div class="p-4 border rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div>
                        <label asp-for="Student.FirstName"></label>
                    </div>
                    <div>
                        <input asp-for="Student.FirstName"  class="form-control" />
                    </div>

                </div>


                <div class="form-group row">
                    <div>
                        <label asp-for="Student.LastName"></label>
                    </div>
                    <div>
                        <input asp-for="Student.LastName" class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div>
                        <label asp-for="Student.EmailAddress"></label>
                    </div>
                    <div>
                        <input asp-for="Student.EmailAddress" class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div>
                        <label asp-for="Student.PhoneNumber"></label>
                    </div>
                    <div>
                        <input asp-for="Student.PhoneNumber" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div>
                        <label asp-for="Student.WNumber"></label>
                    </div>
                    <div>
                        <input asp-for="Student.WNumber" class="form-control" />
                    </div>

                </div>


                <div class="form-group row">
                    <div>
                        <label asp-for="Appointment.Comments"></label>
                    </div>
                    <div>
                        <textarea asp-for="Appointment.Comments" class="form-control"></textarea>
                    </div>

                </div>
                <div class="form-group row">
                    <div>
                        <input hidden asp-for="Appointment.Status" value="A" class="form-control" />
                        <input hidden asp-for="Appointment.AdvisorId" value="@ViewBag.adId" class="form-control" />
                        <input hidden asp-for="Appointment.LocationId" value="@ViewBag.LocId" class="form-control" />
                        <input hidden type="datetime" asp-for="Appointment.AppointmentDateTime" value="@ViewBag.timeTime" class="form-control" />
                        <input hidden value="@ViewBag.AvId" name="AvailId" class="form-control" />
                        <input hidden value="@ViewBag.AdName" name="AdvName" class="form-control" />
                    </div>
                </div>

                
                <input type="submit" class="btn btn-primary" value="Make Appointment" />

            </div>
        </form>
    
        <div>
            <div class="col-10">
                <div class="card mb-10">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">
                            <label style="font-size:23px;color:steelblue;">Appointment Details</label>
                        </h4>
                    </div>


                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            Advisor: @ViewBag.AdName
                            <br />Campus: @ViewBag.CamN
                            <br />Appointment Date & Time: @ViewBag.timeTime
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

