@model List<EastAdvising.Models.Availability>

<p>COld me</p>
       <div>
           <form method="post" asp-action="AvailabilityDetails2">
               <div class="p-4 border rounded">
                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   <div class="form-group row">
                       <div class="col-2">
                           <label>Start Time</label>
                       </div>
                       <div class="col-5">
                           <input type="date" name="date1" value="@ViewBag.Date1" class="form-control" />
                       </div>

                   </div>
                   <div class="form-group row">
                       <div class="col-2">
                           <label>Advisor</label>
                       </div>
                       <div class="col-5">
                           <input hidden value="@ViewBag.idA" name="id" class="form-control" />
                           <input readonly value="@ViewBag.nameA" class="form-control" />
                       </div>

                   </div>
                   <input type="submit" class="btn btn-primary" value="View Appointments" />

               </div>

           </form>
       </div>
<div class="row">
    
    @foreach (var ad in Model)
    {
    <form method="post" asp-action="AppointmentDetails">
        <div class="p-4 border rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div>
                    <label asp-for="@ad.StartTime"></label>
                </div>
                <div>
                    <input readonly asp-for="@ad.StartTime" name="time1" class="form-control" />
                    <input hidden asp-for="@ad.AvailabilityId" name="id3" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div>
                    <label asp-for="@ad.Location"></label>
                </div>
                <div>
                    <input hidden asp-for="@ad.LocationId" name="id2" class="form-control" />
                    <input readonly asp-for="@ad.Location.Campus" name="campus" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="@ad.Advisor"></label>
                </div>
                <div class="col-5">
                    <input hidden asp-for="@ad.AdvisorId" name="id1" class="form-control" />
                    <input readonly asp-for="@ad.Advisor.FullName" name="fullname" class="form-control" />
                </div>

            </div>
           
            <input type="submit" class="btn btn-primary" value="Select Appointment" />

        </div>
    </form>
    }

</div>

